<header class="cabecera">
    <img class="cabecera__imagen1" src="./assets/images/logo.png" />
    <img class="cabecera__icono" src="./assets/images/menu-icon.png" alt="icono">
    <div class="cabecera__menu">
        <ul class="cabecera__menu-premiun">
            <li>Premium</li>
            <li>Ayuda</li>
            <li>Descargar</li>
        </ul>
        <ul class="cabecera__menu-registrate">
            <li><a href="../signup.html">Regístrate</a></li>
            <li>Iniciar sesión</li>
        </ul>
    </div>
</header>