<section class="pagina2">

    <div class="pagina2__premium"> ¿Porque pasarte a Premium?</div>
    <section class="pagina2__premium-conteiner">
        <include src="./main-description.html" image="./assets/images/benefit-1.png" item="Descarga música." description="Llévala siempre contigo."></include>
        
        <include src="./main-description.html" image="./assets/images/benefit-2.png" item="Sin anuncios." description="Disfruta de musica sin interrupciones."></include>

        <include src="./main-description.html" image="./assets/images/benefit-3.png" item="Escucha lo que quieras." description="Inclusio en el móvil."></include>

        <include src="./main-description.html" image="./assets/images/benefit-4.png" item="Salta todas las canciones que quieras." description="Simplemente dale a la siguiente."></include>
  
    </section>
</section>