<footer class="pie">
    <div class="pais">
        <div class="pais-espana">España</div>
        <img class="bandera" src="./assets/images/bandera-de-espana.png" alt="Bandera de España">
    </div>
    <div class="referencias">
        <div class="legal-cookies">
            <div class="legal">Legal</div>
            <div class="cookies">Cookies</div>
        </div>
        <div class="refer-2022">
            <div>® 2022 Team-2</div>
        </div>
    </div>
    <div class="info-usuarios">Informacion sobre los anuncios</div>
</footer>