<footer class="footer">
    <div class="footer__pais">
        <div class="footer__pais-espana">España</div>
        <img class="footer__pais-bandera" src="./assets/images/bandera-de-espana.png" alt="Bandera de España">
    </div>
    <div class="footer__referencias">
        <div class="footer__referencias--container">
            <div class="footer__referencias--container-legal">Legal</div>
            <div class="footer__referencias--container-cookies">Cookies</div>
        </div>
        <div class="footer__referencias-refer2022">
            <div>® 2022 Team-2</div>
        </div>
    </div>
    <div class="info-usuarios">Informacion sobre los anuncios</div>
</footer>