<header class="cabecera">
    <img class="imagen1" src="./assets/images/logo.png" />
    <img class="icono" src="./assets/images/menu-icon.png" alt="icono">
    <div class="menu">
        <ul class="menu-premiun">
            <li class="li">Premium</li>
            <li class="li">Ayuda</li>
            <li class="li">Descargar</li>
        </ul>
        <ul class="menu-registrate">
            <li class="li">Regístrate</li>
            <li class="li">Iniciar sesión</li>
        </ul>
    </div>
</header>