.footer {
    color: gray;
    background: black;
    font-size: 12px;
    padding: 20px;
    position: relative;
    bottom: 0;

    &__pais {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }

    &__pais-bandera {
      width: 30px;
      margin: 0px 0px 0px 20px;
    }

    &__referencias {
      display: flex;
      justify-content: space-between;
    }

    &__referencias--container {
      display: flex;

      &-legal,
      &-cookies {
        padding: 10px;
      }
    }
  }

  @media all and (min-width: 480px) {    
    .info-usuarios {
      transform: translate(130px, -22px);
      width: 300px;
    }
  }
