.cabecera {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  z-index: 999;

  &__imagen1 {
    margin: 10px;
    width: 9rem;
  }

  &__icono {
    width: 30px;
    padding: 20px;
  }

  &__menu {
    display: none;
  }
}

@media all and (min-width: 480px) {
  .cabecera {
    &__icono {
      display: none;
    }
    
    &__menu {
      color: black;
      display: flex;
      align-items: center;

      &-premiun,
      &-registrate {
        list-style: none;
        display: flex;
        color: white;
        font-size: 11px;
        padding-inline-start: 0px;
        
        & li{
          margin: 8px;
        }
      }

      &-registrate {
        border-left: 2px solid white;
      }
    
    }
  }
}