/* encima de 1000px */

@media all and (min-width: 1000px) {
  .pagina1 {
    background: #1d75de url(../images/premium_dancer.png) no-repeat right bottom;
    background-size: 18rem;
  }

  .title2 {
    width: 200px;
    margin: 50px 50px 50px 0px;
  }

  .cabecera > .icono {
    display: none;
  }

  .conteiner {
    display: flex;
    flex-wrap: nowrap;
  }

  .description-icons {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .info-usuarios {
    transform: translate(130px, -22px);
    /* margin-right: 0px; */
  }
}
